<h1><%= t "dictionary.title.search_page" %></h1>

<!-- ～line～ -->
<div class="line"></div>

<%= form_with(model: @knowhow, url: search_knowhows_path, local: true) do |form| %>
  <div class="container">
    <table>
      <!-- 区分の入力欄 -->
      <tr class="item">
        <th class="item-title">
          <%= form.label t("dictionary.item.knowhow_class") %>
        </th>
        <td class="item-content radio-button">
          <%= form.radio_button :knowhow_class, false, {id: "radio1", checked: false} %>
          <label for="radio1"><%= t "dictionary.item.knowhow" %></label>
        </td>
        <td class="item-content radio-button">
          <%= form.radio_button :knowhow_class, true, {id: "radio2", checked: false} %>
          <label for="radio2"><%= t "dictionary.item.question" %></label>
        </td>
        <td class="item-content radio-button">
          <%= form.radio_button :knowhow_class, "", {id: "radio0", checked: true} %>
          <label for="radio0"><%= t "dictionary.item.both" %></label>
        </td>
        <td class="attention"><%= t "dictionary.message.select_required" %></td>
      </tr>
    </table>

    <!-- ～line～ -->
    <div class="line"></div>

    <table>
      <!-- 検索方法の選択欄 -->
      <tr class="item">
        <th class="item-title">
          <%= form.label t("dictionary.item.search_type") %>
        </th>
        <td class="item-content radio-button">
          <%= form.radio_button :search_type, true, {id: "radio3", checked: false} %>
          <label for="radio3"><%= t "dictionary.item.and_search" %></label>
        </td>
        <td class="item-content radio-button">
          <%= form.radio_button :search_type, false, {id: "radio4", checked: true} %>
          <label for="radio4"><%= t "dictionary.item.or_search" %></label>
        </td>
        <td class="attention"><%= t "dictionary.message.select_required" %></td>
      </tr>
    </table>

    <table>
      <tr class="item">
        <!-- 分類の入力欄 -->
        <th class="item-title">
          <%= form.label t("dictionary.item.category_name") %>
        </th>
        <td class="item-content input-box select-button">
          <%= form.collection_select :category_id, Category.all, :id, :name,
                                     include_blank: true %>
        </td><td></td>
        <!-- 言語の入力欄 -->
        <th class="item-title"><%= form.label t("dictionary.item.language_name") %></th>
        <td class="item-content input-box select-button">
          <%= form.collection_select :language_id, Language.all, :id, :name,
                                     include_blank: true %>
        </td><td></td>
        <!-- ユーザの入力欄 -->
        <th class="item-title"><%= form.label t("dictionary.item.user_name") %></th>
        <td class="item-content input-box select-button">
          <%= form.collection_select :user_id, User.all, :id, :user_name,
                                     include_blank: true %>
        </td>
      </tr>
    </table>

    <table>
      <!-- 検索キーの入力欄 -->
      <tr class="item">
        <th class="item-title">
          <%= form.label t("dictionary.item.key_message") %>
        </th>
        <td class="item-content input-box input-title">
          <%= form.text_field :key_message %>
        </td>
      </tr>
    </table>

    <!-- ～line～ -->
    <div class="line"></div>

    <table>
      <!-- 全文検索の入力欄 -->
      <tr class="item">
        <th class="item-title"><%= form.label t("dictionary.item.whole") %></th>
        <td class="item-content input-box input-title">
          <%= form.text_field :whole %>
        </td>
      </tr>
    </table>

  </div>

  <!-- ～line～ -->
  <div class="line"></div>
  <!-- ボタン -->
  <div class="container">
    <div class="item">
      <%= form.hidden_field :index_type, value: "search" %>
      <%= form.submit t("dictionary.button.search"), class: "design-submit" %>
      <%= link_to t("dictionary.button.back"), :back, type: "button",
                                               class: "design-button" %>
    </div>
  </div>
<% end %>
